<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Name</h2>
            <h4>Email</h4>
        </div>
        <img src="https://media.istockphoto.com/id/1433039224/photo/blue-user-3d-icon-person-profile-concept-isolated-on-white-background-with-social-member.jpg?s=612x612&w=is&k=20&c=5QujUSZDxlkDAH3j9NAsiW1vA5hLUswspIPbzxUD3GQ=" alt="Soufiame FADIL">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubHeader>Pages</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="dashboard">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="posts">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="add-products">Add Products</a>
<mat-divider></mat-divider>
<h2 matSubHeader>Tools</h2>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>import_contacts</mat-icon>
Contacts
</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>contact_phone</mat-icon>
    Leads
    </a>
</mat-nav-list>

