.row > .list-group{
        flex-direction: row;
}
.card > .list-group2{
    flex-direction: column;
    display: flex;
    padding: 10px;
}
.card > .list-group2 .list-group-item{
    display: inline-flex;
    justify-content: space-between;
}
.row > .col img{
    object-fit: contain;
    width: 100%;
}
.removeBtn{
    width: auto;
}